 /* Start AboutMe */

 
/* #myContainer {
  width: 100%;
  height:100%;
  position: relative;
  
  
} */
/* #myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: yellow;
}
 */

 .mainAbotme{
   position: relative;
 }
 .ourStorie{
   text-align: center;
   position: relative;
   height: 600px;
 }
 
.ourStorie img {
  width: 1100px;
  position: relative;
  top: 0;
  left: 0;
  height: 590px;
  opacity: 0.7;
}
.ourStorie pre {
  text-overflow: unset; 
  opacity: 2.0;
  width: 100%;
  position: absolute;
  top: 98px;
  height: 400px;
  font-size: 30px;
  font-family: 'Just Another Hand', cursive;
}
@keyframes example {
   0%{top: 14%;}
   50%{top: 75%;}
  100% {
    top:14%;
  }
}
.iconRead {
  position: absolute;
  left: 22%;
  top: 60px;
  font-size: 30px;
  animation-name: example;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: 2; 
}
/* End AboutMe */