

/* /////////////////////////// */
main{
    width: 1170px;
    margin: 20px auto;

}
main h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}
main h2{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
   
    margin-top: 10px ;
   
    border-radius: 20px;
    
    padding: 10px;
    
}
.contaner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
 .FThreeImg , .SthreeImg , .TthreeImg{
    display: flex;
    justify-content: space-between; 

} 
.contaner img {
    background-color:#e8e3e3;
    width: 200px;
    height: 200px;
    
    border: none;
}

.btn{
    width: 300px;
    height: 30px;
    margin: 20px auto;
    border-radius: 50px;
    border: 1px unset palegoldenrod;

}
.btn:hover{
    background-color: darkturquoise;
}
.contaner img{
    margin-top: 10px;
    animation-name: images;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;}
    
@keyframes images {
    
    100% {background-color: rgb(147, 173, 121);
      border-radius: 100px;
    }
    
}