/* global*/
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    position: relative;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
a {
    color: #555;
    text-decoration: none;
}
/* Header Start*/
header {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background-color: #cdf0ea45;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.header .logo-link img{
    width: 100px;
}
.covid {
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 8px 0;
}
.covid a {
    text-decoration: none;
    color: #555;
}
.nav-bar {
    width: 100%;
}
.fa-user:before {
    content: "\f007";
    font-size: 30px;
}
.header nav {
    display: flex;
    justify-content:center;
    align-items: center;
}
.header nav a {
    padding-left: 40px;
    text-decoration: none;
    font-size: 20px;
}
.material-icons {
    font-size: 32px;
}
/* Header End*/
/*main start*/
.hero {
    background: url(../img/alternativeHero.jpg);
    height: 600px;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-img {
    height: 600px;
   width: 100%;
   background-size: contain;
}
.hero .formCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.hero form fieldset, .formCenter form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input[type="text"] {
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 8px;
    font-size: 18px;
}
fieldset {
    gap: 1rem;
}
form {
    padding: 1.5rem;
}
legend {
    font-size: 18px;
    margin: 0 0 10px 0;
}
.inputCont {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.signUp {
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    width: 100%;
}
.login {
    width: 44.45%;
    margin: 0 23px;
}
.signUp:hover{
    cursor: pointer;
    background-color: #10b8849e;
    color: white;
}
.login:hover {
    cursor: pointer;
    background-color: #e47f7f9e;
    color: black;
}
.second-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
    transition: ease-in-out all 200ms;
}
.second-section .first-card, .second-card, .last-card {
    margin: 1.5rem;
}
.first-card img:hover, .second-card img:hover, .last-card img:hover {
    transform: rotate(-5deg);
}
.first-card img, .second-card img, .last-card img {
    width: 200px;
}
.card-text {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.map-tip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tip, .map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.map-tip-head {
    font-size: 32px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
.tip {
    height: 500px;
}
#tips {
    border: 2px solid #000;
    height: 100%;
    padding: 23px 51px;
    line-height: 1.6;
    background-color: #CDF0EA;
    color: #222;
    border-radius: 15px 80px;
    border: none;
    font-size: 20px;
    overflow: scroll;  
}
#tips::-webkit-scrollbar {
    display: none;
}
#tips {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#tips #tip-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
#tip .tip-content {
    font-size: 28px;
}
.map-picture, #tips {
    width: 50%;
    height: 500px; 
}
/*Main End*/
/*Chronic Section Start*/
.section-one h3 {
    font-size: x-large;
    margin: 60px ;
}
.section-one {
    margin: 90px auto;
    width: 100%;
    text-align: center;
}
.section-one h3 {
    font-size: 32px;
    margin-bottom: 20px;
}
.section-one div{
    font-size: x-large;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 10px;  
}
.insertedDiv {
    padding: 30px;
    text-align: left;
    background-color: #CDF0EA;
    font-size: 20px;
    border-radius: 20px;
}
.hiddenDiv {
    border: none;
}
.insertedDiv ul {
    list-style-type: circle;
    list-style-position: inside;
}
.insertedDiv ul li {
    font-size: 20px;
}
.insertedDiv h2 {
    font-weight: bold;
    margin: 1rem 0;
}
.insertedDiv h2, .insertedDiv p {
    font-size: 20px;
    line-height: 1.5;
}
#diabetes , #pressure, #heart, #cancer, #angina {
    border: 2px solid #00EAD3;
    border-radius: 24px;
    padding: 15px 0;
    color: #333;
    cursor: pointer;
}
/*Chronic Section End*/
/* Covid Start*/
.container-covid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.covid-header{
    text-align: center;
    font-size: 40px;
    padding: 25px 25px;
}
.container-covid h2 {
    text-align: center;
    font-size: 25px;
    padding: 10px 10px;  
}
.container-covid section{
    border-radius: 50px;
    padding: 25px;
    margin-bottom: 20px;
}
.spreads , .symptoms , .Preventative {
    background-color: rgb(230, 236, 236);
    color: #111;
    transition: all ease-out 300ms;
}
.spreads:hover , .symptoms:hover , .Preventative:hover {
    transform: translate(0, 1em);
    /* opacity: 0.7; */
}
.spreads ul, .symptoms ul, .Preventative ul {
    padding: 1rem;
}
.container-covid ul {
    list-style: circle;
    margin-right: 5px;
    line-height: 1.6;
    margin-top: 15px; 
}
.container-covid img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 125px;
}
.container-covid ul li {
    margin-left: 5px;
}
/* Covid End*/
/*Emergency Start*/
.emrgency-container h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0;
}
.emrgency-container h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 5px 0 5px;
    border-radius: 20px;
    padding: 10px;
    background-color: #DAFAD8;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.emergency-section h2:hover {
   background-color: silver;
}
.emergency-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px 0;
}
 .FThreeImg , .SthreeImg , .TthreeImg{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.SthreeImg {
    margin-bottom: 4rem ;
}
.borderH {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 20px;
}
.borderH h2 {
    font-size: 20px;
}
.emergency-section img {
    width: 200px;
    height: 200px;
    margin: 5px 0;
}
.btn, .instructions-container fieldset #advice-submit {
    width: 340px;
    height: 60px;
    margin: 20px auto;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    transition: linear all 250ms;
    cursor: pointer;
}
.btn {
    color: #222;
    background-color: #00EAD3;
}
.btn:hover {
    background-color: darkturquoise;
}
.emergency-section img{
    margin-top: 10px;
}
/*Emergency End*/
/* Start instruction */
ul, ol {
    font-size: 18px;
    font-style: oblique;
    line-height: 1.6;
}
textarea {
    border-radius: 10px;
    resize: none;
}
.instructions-container {
    display: flex;
    flex-direction: column;
}
.instructions-container h1 {
    font-size: 2.5rem;
    margin: 35px 0 0 0;
  }
  #instructions {
    margin: 2rem 0;
    height: 20rem;
    border-radius: 50px;
    border: darkturquoise solid 3px;
    padding: 1rem;
    background-color: white;
    transition: all linear 350ms;
    box-shadow: 0 10px 10px darkcyan;
  }
  #instructions:hover {
      transform: matrix( 1.01, 0, 0, 1.01, 0, -7 );

      background-color: whitesmoke;
  }
  .instructions-container form {
    margin: 0 auto;
    width: 70%;
    height: 500px;
    border-radius: 50px;
    background-color: #add4d2;
  }
  .instructions-container legend {
    margin: 2rem auto;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: bold;
    color: white;
  }
  .instructions-container form fieldset{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  .instructions-container fieldset #advice-submit {
      color: white;
      background-color: #555;
  }
  .instructions-container fieldset #advice-submit:hover {
      background-color: #222;
  }
  .instructions-container fieldset #advice-Name {
    width: 50%;
    height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
  }
  .instructions-container fieldset #issue {
    padding: 1rem ;
    font-size: 1rem;
  }
  /* End instruction */
/* Footer Start*/
footer
{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #DEEDF0;
    margin-top: 20px;
    padding: 10px;
    height: 250px;
    position:relative;
    bottom:0;
    left:0;
    width: 100%;
    font-size: 20px;
}
.mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.fab, .far {
    margin: 10px;
}
.mail .fa-envelope:before {
    content: "\f0e0";
}
.fa-envelope:before {
    content: "\f0e0";
    font-size: 24px;
}
.fa-twitter:before {
    content: "\f099";
    font-size: 24px;
    color: #1DA1F2;
}
.fa-facebook-f:before {
    content: "\f39e";
    font-size: 24px;
    color: #3b5998;
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    font-size: 24px;
}
.fa-phone:before {
    content: "\f095";
    font-size: 24px;
}
.linksDiv h3 {
    padding: 10px 0;
    font-size: 18px;
}
.linksDiv li {
    padding: 5px 0;
    list-style: none;
}
.linksDiv li a {
    text-decoration: none;
}
.linksDiv li a:hover {
    color: #1DA1F2;
}
.privacy {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.privacy a, .privacy p{
    margin-left: 10px;
}
.contact-information {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-information h3 {
    padding: 10px 0;
}
.address, .email, .phone {
    display: flex;
    align-items: center;
    color: #555;
}
.advice {
    background-color: #555;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.advice:hover {
    background-color: #3998BE;
}
footer span {
    padding: 0px 5px;
}
.stayInTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stayInTouch h3 {
    margin-left: 7px;
    margin-bottom: 13px;
}
/*Footer End*/
main {
    position: relative;
}
.collection {
    position: fixed;
    top: 30%;
    left: 100px;
    display: grid;
    gap: 120px;
    z-index: 99;
}
.icons-fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    gap: 15px;
    padding: 10px;
    border: 2px solid #333;

}
::-webkit-scrollbar {
    width: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F1F1F1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CDF0EA;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
   background: #00EAD3;
  }

  #loggedIn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      /* outline: solid red 2px; */
      /* gap: 3rem; */
  }
  #loggedIn p{
    font-size: 1.75rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1.75;
    color: white;
    background: #1b7a7a;
  }
 #logOut {
     position: absolute;
     top: 55%;
     left: 82.25%;
     font-size: 1rem;
 }
 #logOut:hover {
     color: #1DA1F2;
     font-weight: bold;
     cursor: pointer;
 }