
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    position: relative;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
a {
    color: #555;
    text-decoration: none;
}
/* Header Start*/
header {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background-color: #cdf0ea45;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.header .logo-link img{
    width: 100px;
}
.covid {
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 8px 0;
}
.covid a {
    text-decoration: none;
    color: #555;
}
.nav-bar {
    width: 100%;
}

.fa-user:before {
    content: "\f007";
    font-size: 30px;
}
.header nav {
    display: flex;
    justify-content:center;
    align-items: center;
}
.header nav a {
    padding-left: 40px;
    text-decoration: none;
    font-size: 20px;
}
.material-icons {
    font-size: 32px;
}
/* Header End*/
/*main start*/
.hero {
    background: url(../img/alternativeHero.jpg);
    height: 600px;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-img {
    height: 600px;
   width: 100%;
   background-size: contain;
}
.hero .formCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: fit-content;

}
.hero form fieldset, .formCenter form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input[type="text"] {
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 8px;
    font-size: 18px;
}
fieldset {
    gap: 1rem;
}
form {
    padding: 1.5rem;
}
legend {
    font-size: 18px;
    margin: 0 0 10px 0;
}
.inputCont {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.signUp, .login  {
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    width: 100%;
    width: 90.7%;
    align-self: center;
}
/* .login {
    width: 90.7%;
    margin: 0 23px;
    align-self: center;
} */
.signUp:hover{
    cursor: pointer;
    background-color: #10b8849e;
    color: white;
}
.login:hover {
    cursor: pointer;
    background-color: #e47f7f9e;
    color: black;
}
#logIn:hover {
    cursor: pointer;
    background-color: #e47f7f9e;
    color: black;
}

.second-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
    transition: ease-in-out all 200ms;
    margin-bottom: 0;
}
.second-section .first-card, .second-card, .last-card {
    margin: 1.5rem;
}
.first-card a,.second-card a,  .last-card a{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.first-card img:hover, .second-card img:hover, .last-card img:hover {
    transform: rotate(-5deg);
}
.first-card img, .second-card img, .last-card img {
    width: 200px;
    margin: auto;
}
.card-text {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.map-tip-head ,.map-tip-headT {
    margin: 30px 0;
    font-size: 28px;
    text-align: center;
   
}
.map-tip-head {
    text-align: center;
}
.map-tip-headT{
    text-align: center;
    margin-top: 6rem;
}
.tip {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 3rem;
}
#tips {
    border: 2px solid #000;
    width: 100%;
    display: flex;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 51px;
    padding-bottom: 60px;
    line-height: 1.6;
    background-color: #CDF0EA;
    color: #222;
    border-radius: 15px 80px;
    border: none;
    font-size: 20px;
    overflow: scroll; 
}
.ask {
    width: 180px;
    height: 100%;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #616161;
}
.ask:hover {
    background-color: #cbcbcb;
}
#tips::-webkit-scrollbar {
    display: none;
}
#tips {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#tips #tip-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 42px;
    font-size: 1.5rem;
}
#tip .tip-content {
    font-size: 28px;
}
.map-picture {
    height: 500px; 
}
.myGames,.insidegame{
    display: flex;
    height: 300px;
    width: 50%;
    border:2px solid #CDF0EA ;
    margin: 20px;
    margin-left: 200px;
}
#imagesGame input{
    margin-top: 100px;
    border-radius: 20px;
    height: 30px;
}
/*Main End*/
/*Chronic Section Start*/
.section-one h3 {
    font-size: x-large;
    margin: 60px ;
}
.section-one {
    margin: 90px auto;
    width: 100%;
    text-align: center;
}
.section-one h3 {
    font-size: 32px;
    margin-bottom: 20px;
}
.section-one div{
    font-size: x-large;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 10px;  
}
.insertedDiv {
    padding: 30px;
    text-align: left;
    background-color: #CDF0EA;
    font-size: 20px;
    border-radius: 20px;
}
.hiddenDiv {
    border: none;
}
.insertedDiv ul {
    list-style-type: circle;
    list-style-position: inside;
}
.insertedDiv ul li {
    font-size: 20px;
}
.insertedDiv h2 {
    font-weight: bold;
    margin: 1rem 0;
}
.insertedDiv h2, .insertedDiv p {
    font-size: 20px;
    line-height: 1.5;
}
#diabetes , #pressure, #heart, #cancer, #angina {
    border: 2px solid #00EAD3;
    border-radius: 24px;
    padding: 15px 0;
    color: #333;
    cursor: pointer;
}
/*Chronic Section End*/
/* Covid Start*/
.container-covid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.covid-header{
    text-align: center;
    font-size: 40px;
    padding: 25px 25px;
}
.container-covid h2 {
    text-align: center;
    font-size: 25px;
    padding: 10px 10px;  
}
.container-covid section{
    border-radius: 50px;
    padding: 25px;
    margin-bottom: 20px;
}
.spreads , .symptoms , .Preventative {
    background-color: rgb(230, 236, 236);
    color: #111;
    transition: all ease-out 300ms;
}
.spreads:hover , .symptoms:hover , .Preventative:hover {
    transform: translate(0, 1em);
    /* opacity: 0.7; */
}
.spreads ul, .symptoms ul, .Preventative ul {
    padding: 1rem;
}
.container-covid ul {
    list-style: circle;
    margin-right: 5px;
    line-height: 1.6;
    margin-top: 15px; 
}
.container-covid img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 125px;
}
.container-covid ul li {
    margin-left: 5px;
}
/* Covid End*/
/*Emergency Start*/
.light {
    background-color: #F7FFFF;
}
.emrgency-container h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0;
}
.emrgency-container h2 {
    text-align: center;
    font-size: 15px;
    margin: 10px 5px 0 5px;
    border-radius: 20px;
    padding: 10px;
    background-color: #7C8080;
    cursor: pointer;
    color: white;
    transition: all 150ms ease-in-out;
}
.emergency-section h2 a {
    color: white;
}
.emergency-section h2:hover, .emrgency-container h2 a:hover {
   background-color: silver;
}
.emergency-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px 0;
}
 .FThreeImg , .SthreeImg , .TthreeImg{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.SthreeImg {
    margin-bottom: 4rem ;
}
.borderH {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 20px;
}
.borderH h2, #aaa {
    font-size: 20px;
}
.emergency-section img {
    width: 200px;
    height: 200px;
    margin: 5px 0;
}
.btn, .instructions-container fieldset #advice-submit {
    width: 340px;
    height: 60px;
    margin: 20px auto;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    transition: linear all 250ms;
    cursor: pointer;
}
.btn {
    color: #222;
    background-color: #00EAD3;
}
.btn:hover {
    background-color: darkturquoise;
}
.emergency-section img{
    margin-top: 10px;
}
/*Emergency End*/
/* Start instruction */
ul, ol {
    font-size: 18px;
    font-style: oblique;
    line-height: 1.6;
}
textarea {
    border-radius: 10px;
    resize: none;
}
.instructions-container {
    display: flex;
    flex-direction: column;
}
.instructions-container h1 {
    font-size: 2.5rem;
    margin: 35px 0 0 0;
  }
  #instructions {
    margin: 2rem 0;
    height: 20rem;
    border-radius: 50px;
    border: darkturquoise solid 3px;
    padding: 1rem;
    background-color: white;
    transition: all linear 350ms;
    box-shadow: 0 10px 10px darkcyan;
  }
  #instructions:hover {
      transform: matrix( 1.01, 0, 0, 1.01, 0, -7 );

      background-color: whitesmoke;
  }
  .instructions-container form {
    margin: 0 auto;
    width: 70%;
    height: 500px;
    border-radius: 50px;
    background-color: #add4d2;
  }
  .instructions-container legend {
    margin: 2rem auto;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: bold;
    color: white;
  }
  .instructions-container form fieldset{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  .instructions-container fieldset #advice-submit {
      color: white;
      background-color: #555;
  }
  .instructions-container fieldset #advice-submit:hover {
      background-color: #222;
  }
  .instructions-container fieldset #advice-Name {
    width: 50%;
    height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
  }
  .instructions-container fieldset #issue {
    padding: 1rem ;
    font-size: 1rem;
  }
  /* End instruction */
  /*AboutUs Start*/
.our-team-section {
    display: flex;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between; 
}
.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.about-us h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.about-us p {
    font-style: italic;
    font-size: 24px;
    color: #00325a;
    line-height: 1.5;
    text-indent: 70px;
    padding: 20px;
    text-align: center;
    width: 100%;
    border: #00325a 2px solid;
    border-radius: 15px;
}
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background: url(img/service-section-bottom.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
.our-team {
    width: 300px;
    padding: 30px 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #28B5B5;
    margin: auto;
    
}
.our-team:hover{
    border-bottom: 5px solid #2f2f2f;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #28B5B5;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
 height: 100%;
    background: #2f2f2f; 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
    background: #7ab92d;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    color: #2f2f2f;
    background: #f7f5ec;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
.pargraph {
    width: 960px;
    font-size: 20px;
    margin: 10px 10px;
    align-items: center;
    text-align: justify;
}
.pargraph p {
    margin: 10px 10px;
    line-height: 1.5;
}
.pargraph h3 {
    text-align: center;
    margin: 10px 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
 /*AboutUs End*/
/* Footer Start*/
footer
{
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    flex-direction: row;
    background-color: #DEEDF0;
    margin-top: 10px;
    padding: 10px;
    height: 255px;
    position:relative;
    bottom:0;
    left:0;
    width: 100%;
    font-size: 20px;
}
.mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    margin-top: 2rem;
}
.icons{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.fab, .far {
    margin: 10px;
}
.mail .fa-envelope:before {
    content: "\f0e0";
}
.fa-envelope:before {
    content: "\f0e0";
    font-size: 24px;
}
.fa-twitter:before {
    content: "\f099";
    font-size: 24px;
    color: #1DA1F2;
}
.fa-facebook-f:before {
    content: "\f39e";
    font-size: 24px;
    color: #3b5998;
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    font-size: 24px;
}
.fa-phone:before {
    content: "\f095";
    font-size: 24px;
}
.privacy {
    height: 35px;
    display: flex;
    justify-content:center;
    align-items: flex-end;    
    width: 100.5%;
    padding: auto 0;
    background: #DEEDF0;
    padding-bottom: 1rem;
}
.privacy a, .privacy p{
    margin-left: 10px;
}
.contact-information {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.contact-information h3 {
    padding: 0px 10px 0px 10px;
    margin: 10px 0;
    margin-top: 0;
    
}
.address, .email, .phone {
    display: flex;
    align-items: center;
    color: #555;
}
.address, .phone {
    padding: 0 10px;
}
.address span:first-child {
    padding-left: 10px;
}
.advice {
    background-color: #555;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.advice:hover {
    background-color: #3998BE;
}
.stayInTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stayInTouch h3 {
    margin-left: 7px;
    margin-bottom: 4px;
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    font-size: 24px;
    padding: 0 6px;
}
.fa-phone:before {
    content: "\f095";
    font-size: 24px;
    padding: 0 6px;
}
/*Footer End*/
main {
    position: relative;
}
.collection {
    position: fixed;
    top: 30%;
    left: 100px;
    display: grid;
    gap: 120px;
    z-index: 99;
}
.icons-fixed {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    gap: 15px;
    padding: 10px;
    border: 2px solid #333;
}
::-webkit-scrollbar {
    width: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F1F1F1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CDF0EA;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
   background: #00EAD3;
  }

  #loggedIn , #divbtnAnsewr{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
  }
  #loggedIn {
      position: relative;
  }
  #divbtnAnsewr {
      width: 50%;
      height: 100%;
  }
  #divbtnAnsewr a {
      width: 100%;
      height: 100%;
  }
  #divbtnAnsewr a button {
      width: 100%;
      height: 100%;
  }
  #loggedIn p{
    font-size: 1.75rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1.75;
    color: white;
    background: #1b7a7a;
  }
 #logOut {
     position: absolute;
     top: 30%;
     left: 75px;
     font-size: 1rem;
     width: 4rem;
 }
 #logOut:hover {
     color: #1DA1F2;
     font-weight: bold;
     cursor: pointer;
 }
 .imgGame {
     max-width: 1170px;
     margin: 2rem auto;
     margin-bottom: 6rem;
     height: fit-content;
     overflow: hidden;
     background: black;
     box-sizing: border-box;
     border-radius: 80px 15px 80px 15px;
 }
 .insidegame {
     width: 100%;
     margin: 0;
     padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     height: fit-content;
     background: #555;
     
 }
 #ourGame {
     text-align: center;
     font-size: 2rem;
     height: fit-content;
     width: 100%;
     font-weight: bold;
     color: white;
     
 }
 #imgAndForm {
     width: 100%;
     display: flex;
     gap: 2rem;
     
 }
 #myImage {
     /* outline: purple solid 3px; */
     width: 420px;
     height: 420px;
     border-radius: 50% ;
     margin-left: 4rem;
 }
 #formm {
     /* outline: pink solid 3px; */
     width: 50%;
     margin: 1rem auto;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     align-self: flex-end;
 }
 #formm input {
     outline: black solid 3px;
     margin: auto ;
     width: 6rem;
     font-size: large;
 }
 #numbers {
     /* outline: brown solid 3px; */
     width: 315px;
     height: 315px;
     display: grid;
     grid-template-columns: 105px 105px 105px;
     grid-template-rows: 105px 105px 105px;
     margin-left: 7rem ;
 }
 #numbers div {
     border: #555 solid 2px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 3rem;
     background: gray;
     color: white;
 }
 #numbers div:hover ,#removeTest:hover{
     background: white;
     color: black;
     cursor: pointer;
     box-shadow: inset black 2px 2px 0.7rem;
 }
 #numbers div:active {
     background: rgb(30, 211, 218);
 }
 #newDiv {
     font-size: 2rem;
     color: white;
     text-align: center;
     margin: 2rem;
 }
 #removeTest {
     width: 10rem;
     height: 3rem;
     border: none;
     border-radius: 1.5rem;
     font-size: 1.25rem;
 }
 
#main h3 {
    text-align: center;
    margin: 3rem auto;
    font-size: 2.5rem;
    margin-top: 5rem;
}
#divbtnAnsewr a button {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 22px;
}
nav a:hover {
    color: #00EAD3;
}

.mv {
    max-width: 1170px;
    padding-top: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.mv div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40%;
}
.mv div h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: #28B5B5 solid 3px;
    width: fit-content;
    margin: auto;
    padding-bottom: 0.75rem;
}
.mv div p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}
hr {
    max-width: 1170px;
}
.afterEffect:after {
    content: '';
    position: absolute;
    top: 94px;
    left: 0;
    width: 596px;
    height: 10px;
    background-color: rgb(255,0,0);
}
#logMessage {
    /* outline: solid red ; */
    width: 500.36px;
    height: 100px;
    margin-left: 2rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}
#up, #down {
    position: fixed;
    cursor: pointer;
}
#down {
    top: 140px;
    right: 20px;
    z-index: 1;
}
#up {
    bottom: 140px;
    right: 20px;
    z-index: 1;
}