/* global*/
* {
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
a {
    color: #555;
    text-decoration: none;
}
/* Header Start*/
header {
    width: 100%;
    background-color: #CDF0EA;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.header .logo-link img{
    width: 100px;
}
.covid {
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 8px 0;
}
.covid a {
    text-decoration: none;
    color: #555;
}
.nav-bar {
    width: 100%;
}
.fa-user:before {
    content: "\f007";
    font-size: 30px;
}
.header nav {
    display: flex;
    justify-content:center;
    align-items: center;
}
.header nav a {
    padding-left: 40px;
    text-decoration: none;
}
.material-icons {
    font-size: 32px;
}
/* Header End*/
/*main start*/
.hero {
    background: url(../img/hero.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-img {
    height: 600px;
   width: 100%;
   background-size: contain;
}
.hero .formCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero form fieldset, .formCenter form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.urgent {
    width: 483px;
    height: 70px;
    background-color: white;
    font-size: 45px;
    border-radius: 25px;
    font-style: italic;
    border: none;
}
input[type="text"] {
    height: 40px;
    border-radius: 15px;
    border: none;
    padding-left: 8px;
}
fieldset {
    gap: 1rem;
}
form {
    padding: 1.5rem;
}
legend {
    font-size: 18px;
    margin: 0 0 10px 0;
}
.inputCont {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.signUp {
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;  
}
.second-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-section .first-card, .second-card, .last-card {
    margin: 1.5rem;
}
.card-text {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.map-tip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tip, .map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.map-tip-head {
    font-size: 32px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
.tip {
    height: 500px;
}
#tips {
    border: 2px solid #000;
    height: 100%;
    padding: 1.2rem;
    line-height: 1.6;
    background-color: #CDF0EA;
    color: #222;
    border-radius: 15px 80px;
    border: none;   
}
#tips #tip-header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.map-picture, #tips {
    width: 50%;
    height: 500px; 
}
/*Main End*/
/*Chronic Section Start*/
.section-one h3 {
    font-size: x-large;
    margin: 60px ;
}
.section-one {
    margin: 160px auto;
    width: 100%;
    text-align: center;
}
.section-one div{
    font-size: x-large;
    border-style: solid ;
    border-color: darkblue;
    border-width: 3px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;  
}
/*Chronic Section End*/
/* Covid Start*/
.container-covid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.covid-header{
    text-align: center;
    font-size: 40px;
    padding: 25px 25px;
}
.container-covid h2 {
    text-align: center;
    font-size: 25px;
    padding: 10px 10px;  
}
.container-covid section{
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 20px;
}
.spreads , .symptoms , .Preventative {
    background-color: rgb(230, 236, 236);
    color: #111;
    transition: all ease-out 300ms;
}
.spreads:hover , .symptoms:hover , .Preventative:hover {
    transform: translate(0, 1em);
    opacity: 0.7;
}
.container-covid ul {
    list-style: circle;
    margin-right: 5px;
    line-height: 1.6;
    margin-top: 15px; 
}
.container-covid img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 125px;
}
.container-covid ul li {
    margin-left: 5px;
}
/* Covid End*/
/*Emergency Start*/
.emrgency-container h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0;
}
.emrgency-container h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 5px 0 5px;
    border-radius: 20px;
    padding: 10px;
    background-color: #DAFAD8;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.emergency-section h2:hover {
   background-color: silver;
}
.emergency-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px 0;
}
 .FThreeImg , .SthreeImg , .TthreeImg{
    display: flex;
    justify-content: space-between;
    width: 100%; 
}
.borderH {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 20px;
}

.emergency-section img {
    width: 200px;
    height: 200px;
    margin: 5px 0;
}
.btn, .instructions-container fieldset #advice-submit {
    width: 340px;
    height: 60px;
    margin: 20px auto;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    transition: linear all 250ms;
    cursor: pointer;
}
.btn {
    color: #222;
    background-color: #00EAD3;
}
.btn:hover {
    background-color: darkturquoise;
}
.emergency-section img{
    margin-top: 10px;
}
/*Emergency End*/
/* Start instruction */
ul, ol {
    font-size: 18px;
    font-style: oblique;
    line-height: 1.6;
}
textarea {
    border-radius: 10px;
    resize: none;
}
.instructions-container {
    display: flex;
    flex-direction: column;
}
.instructions-container h1 {
    font-size: 2.5rem;
    margin: 35px 0 0 0;
  }
  #instructions {
    margin: 2rem 0;
    height: 20rem;
    border-radius: 50px;
    border: darkturquoise solid 3px;
    padding: 1rem;
    background-color: white;
    transition: all linear 350ms;
  }
  #instructions:hover {
      transform: translate(-10px, -10px);
      background-color: whitesmoke;
  }
  .instructions-container form {
    margin: 0 auto;
    width: 70%;
    height: 500px;
    border-radius: 50px;
    background-color: #add4d2;
  }
  .instructions-container legend {
    margin: 2rem auto;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: bold;
    color: white;
  }
  .instructions-container form fieldset{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
  .instructions-container fieldset #advice-submit {
      color: white;
      background-color: #555;
  }
  .instructions-container fieldset #advice-submit:hover {
      background-color: #222;
  }
  .instructions-container fieldset #advice-Name {
    width: 50%;
    height: 2rem;
    padding: 0 1rem;
    font-size: 1rem;
  }
  .instructions-container fieldset #issue {
    padding: 1rem ;
    font-size: 1rem;
  }
  /* End instruction */
/* Footer Start*/
footer
{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #DEEDF0;
    margin-top: 20px;
    padding: 10px;
    height: 250px;
    position:relative;
    bottom:0;
    left:0;
    width: 100%;
}
.mainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 10px
}
.fab, .far {
    margin: 10px;
}
.mail .fa-envelope:before {
    content: "\f0e0";
}
.fa-envelope:before {
    content: "\f0e0";
    font-size: 24px;
}
.fa-twitter:before {
    content: "\f099";
    font-size: 24px;
}
.fa-facebook-f:before {
    content: "\f39e";
    font-size: 24px;
}
.fa-map-marker-alt:before {
    content: "\f3c5";
    font-size: 24px;
}
.fa-phone:before {
    content: "\f095";
    font-size: 24px;
}
.linksDiv h3 {
    padding: 10px 0;
    font-size: 18px;
}
.linksDiv li{
    padding: 5px 0;
    list-style: none;
}
.linksDiv li a {
    text-decoration: none;
}
.privacy {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.privacy a, .privacy p{
    margin-left: 10px;
}
.contact-information {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-information h3 {
    padding: 10px 0;
}
.address, .email, .phone {
    display: flex;
    align-items: center;
    color: #555;
}
.advice {
    background-color: #555;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
footer span {
    padding: 0px 5px;
}
.stayInTouch h3 {
    margin-left: 7px;
    margin-bottom: 13px;
}
/*Footer End*/